body {
	font-size: 15px;
	background: url(/img/background.jpg);
	background-repeat: repeat;
	color: rgb(255, 246, 224);
	font-family: helvetica, arial, sans-serif;
	padding-bottom: 40px;
}

h1 {
	text-align: right;
	opacity: 0.8;
}

p {
	margin: 0;
}

.mpi3-border {
	padding: 6px;
	margin-bottom: 25px;
	background-color: rgb(76, 18, 89);
}

.mpi3-button {
	padding: 6px;
	text-align: center;
	cursor: pointer;
	background-color: rgb(255, 246, 224);
	color: rgb(76, 18, 89);
}

.mpi3-music-control {
	text-align: center;
	position: fixed;
	bottom: 0;
	border: 1px solid #fff;
	left: 0;
	right: 0;
	margin-bottom: 0;
}

.mpi3-music-control img {
	cursor: pointer;
	padding: 6px;
	margin: 0 5px;
}

.mpi3-margin-bottom {
	margin-bottom: 15px;
}

input, button, select {
	display: block;
	padding: 6px;
	font-size: 15px;
	width: 100%;
	border: 1px solid #000;
}

input {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

input[type=text] {
	width: calc(100% - 14px);
}
