body {
	font-size: 15px;
	background-color: rgb(6, 30, 54);
	color: #fff;
	font-family: verdana, helvetica, sans-serif;
	padding-bottom: 40px;
}

p {
	margin: 0;
}

.mpi3-border {
	padding: 6px;
	margin-bottom: 25px;
	background-color: rgb(122, 108, 72);
}

.mpi3-button {
	padding: 6px;
	text-align: center;
	cursor: pointer;
	background-color: rgb(62, 88, 7);
}

.mpi3-music-control {
	text-align: center;
	position: fixed;
	bottom: 0;
	border: 1px solid #fff;
	left: 0;
	right: 0;
	margin-bottom: 0;
}

.mpi3-music-control img {
	cursor: pointer;
	padding: 6px;
	margin: 0 5px;
}

.mpi3-margin-bottom {
	margin-bottom: 15px;
}

input, button, select {
	display: block;
	padding: 6px;
	font-size: 15px;
	width: 100%;
	border: 1px solid #000;
}

input {
	width: 96%;
}
